---
layout: default
title: Home
description: MaxMix, the volume mixer for the masses.
featured_image: /images/demo/home.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>MaxMix, the volume mixer 
		for the masses.</h1>
		<p>Open source, open hardware.</p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for post in paginator.posts %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ post.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
					<p class="post__subtitle">{{ post.subtitle }}</p>
					<p class="post__description">{{ post.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
