<ul class="socials">
	<li class="socials__item">
		<a href="{{ site.data.settings.download_settings.desktop_url }}" class="socials__item__link" title="Download Windows">
			<i class="fab fa-windows" aria-hidden="true"></i>
		</a>
	</li>
  
  	<li class="socials__item">
		<a href="{{ site.data.settings.download_settings.hardware_url }}" class="socials__item__link" title="Download Hardware">
			<i class="fab fa-rocket" aria-hidden="true"></i>
		</a>
	</li>
</ul>
<a href="{{ site.data.settings.download_settings.desktop_url }}">
	<button class="btn">
		<i class="fa fa-download"></i> 
		Download
	</button>
</a>
